.accordion {
    border: 1px solid #f5f5f5;
  }
  
  .panel {
    border-top: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
    background-color: #efefef;
  }
  
  .panel .link {
    position: relative;
    cursor: pointer;
    padding: 14px 40px 14px 15px;
    text-transform: uppercase;
    color: #8a8a8a;
    background-color: #fff;
    transition: all 0.4s ease;
  }
  
  .panel.open .link,
  .panel:hover .link {
    background-color: #042e99;
    color: #fff;
  }
  
  .panel .link span {
    position: absolute;
    top: 13px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .panel .link span:after {
    content: '+';
  }
  
  .panel.open .link span:after,
  .panel .link .icon.active:after {
    content: '-';
  }
  
  .panel .submenu {
    display: none;
    padding: 15px 20px 0 20px;
    max-height: 9999px;
    overflow: hidden;
  }
  
  .panel.open .submenu {
    display: block;
  }
  