/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fira Sans";
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bcc5cd;
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "prev";
  display: none;
}
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "next";
  display: none;
}
.swiper-button-next {
  color: white;
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: var(--swiper-navigation-sides-offset, 10px);
  left: auto;
  cursor: none !important;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none !important;
}
ol,
ul {
  padding-left: 0rem !important;
}


.swiper-pagination-bullet{
  border: 5px solid white !important;
}

/* .v
ideogif{
  z-index: 9;
} */

/* 
a {
  text-decoration: none;
  background-color: transparent;
} */

/* @media (min-width: 992px){
  .mainwraper {
    padding: 0 0 0 180px;
}
}
.videogif{
  position: relative;
  display: block;
    margin: 0 auto;
  z-index: 0;
  top: 0;
  background-color: #000;
  width: 100%;
  height: auto;
  border-bottom-left-radius: 25px;
}

*/
